<section id="search_section">

  <div class="canvas_wrap">
    <div class="canvas_cover"></div>
    <div class="canvas">

      <header>
        <div id="spotify_search_app_logo">Spotify Search App</div>
      </header>

      <div class="column" id="search_content">
        <div class="container">
          <form>
            <div class="row form-group input_box">
              <span id="search_icon"><i class="fa fa-search fa-2x" aria-hidden="true"></i></span>
              <input type="text" class="form-control col-centered" id="search_query" placeholder="Search for Songs, Artist or Album" ng-model="home.searchQuery.name" required>
            </div>

            <div class="row text-center" id="custom_radio_buttons">
              <label class="custom_btn">
                <input type="radio" name="toggle" ng-model="home.searchQuery.type" value="track">
                <span>Song</span>
              </label>
              <label class="custom_btn">
                <input type="radio" name="toggle" ng-model="home.searchQuery.type" value="artist">
                <span>Artist</span>
              </label>
              <label class="custom_btn">
                <input type="radio" name="toggle" ng-model="home.searchQuery.type" value="album">
                <span>Album</span>
              </label>
            </div>

            <div class="row text-center">
              <button type="submit" class="btn btn-default" ng-click="home.searchNow(home.searchType)" id="search_button">Search</button>
            </div>
          </form>

          <div class="text-center" id="spotify_logo">
            <div>Powered By</div>
            <img src="src/spotifysearchapp/home/images/spotify.png" alt="Spotify" class="img-responsive center-block">
          </div>
        </div>

      </div>

    </div>
  </div>

</section>

<section id="results_section" ng-if="home.results">

  <!-- Loading Spinner -->
  <spinner></spinner>

  <!-- Filter -->
  <div class="row form-group filter_wrap">
    <div class="col-md-offset-9 col-md-3">
      <span id="filter_icon"><i class="fa fa-search fa-1x" aria-hidden="true"></i></span>
      <input type="text" class="form-control" id="filter_song" placeholder="Filter" ng-model="home.filter">
    </div>
  </div>

  <!-- Results -->
  <track-grid data="home.results" filter="home.filter" ng-if="home.results['type'] == 'track'"></track-grid>
  <artist-grid data="home.results" filter="home.filter" ng-if="home.results['type'] == 'artist'"></artist-grid>
  <album-grid data="home.results" filter="home.filter" ng-if="home.results['type'] == 'album'"></album-grid>

</section>
