/*---- Global ----*/
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

html, body {
  font-family: 'Alegreya Sans', sans-serif !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*---- Home ----*/
.canvas_wrap {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.canvas_cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: #121242;
  background: -webkit-linear-gradient(-45deg,#121242,#ff5a72);
  background: linear-gradient(135deg,#121242,#ff5a72);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#121242',endColorstr='#ff5a72',GradientType=1);
  opacity: .7;
}
.canvas {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('home/images/1.jpg');
  min-height: 100vh;
}
@media (max-width:768px) {
  .canvas {
    background-size: 250%;
    background-position: bottom left 40%;
  }
}
header {
  z-index: 10;
  width: 100%;
  position: fixed;
  background-color: transparent;
  padding: 1rem 5rem;
}
#spotify_search_app_logo {
  width: 30%;
  font-size: 36px;
  color: #1ED65F;
  padding: 0px 15px;
  /*text-transform: uppercase;*/
  /*font-variant: small-caps;*/
  /*border: 1px solid black;*/
}
@media screen and (min-width: 768px) {
  #spotify_search_app_logo {
    font-size: 45px;
  }
}
#search_content {
  z-index: 10;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 32%;
  left: 4%;
}

.input_box {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
#search_icon {
  position: absolute;
  color: white;
  top: 33%;
  right: 17%;
}
#search_query {
  width: 70%;
  border: 0px;
  box-shadow: none;
  font-weight: 400;
  padding-left: 10px;
  color: #77ADD6;
  height: 80px;
  font-size: 36px;
  border-radius: 0px;
  border-bottom: solid 2px #E0D5D5;
  float: none;
  margin: 0 auto;
  background: transparent;
}
#search_query:focus {
  border-bottom: 2px solid #77ADD6;
  -webkit-box-shadow: 0 6px 6px -6px #77ADD6;
  -moz-box-shadow: 0 6px 6px -6px #77ADD6;
  box-shadow: 0 6px 6px -6px #77ADD6;
}
/*@media screen and (max-width:768px) {
#search_query {
width: 100%;
}
}*/
input[type='text']#search_query::-webkit-input-placeholder {
  color: #E0D5D5;
  font-weight: 300;
}
input[type='text']#search_query::-moz-placeholder {
  color: #E0D5D5;
  font-weight: 300;
}
input[type='text']#search_query:-ms-input-placeholder {
  color: #E0D5D5;
  font-weight: 300;
}
input[type='text']#search_query:-moz-placeholder {
  color: #E0D5D5;
  font-weight: 300;
}
#custom_radio_buttons {
  margin: 30px 20px;
}
#custom_radio_buttons label {
  width: 150px;
  height: 35px;
  border-radius: 20px;
  overflow: auto;
}
#custom_radio_buttons label span {
  padding-top: 3px;
  text-align: center;
  font-size: 20px;
  display: block;
  height: 100%;
}
#custom_radio_buttons label input {
  position: absolute;
  top: -20px;
}
#custom_radio_buttons input:checked + span {
  background-color: #77ADD6;
  color: #F7F7F7;
  border: 0px;
}
.custom_btn {
  background-color: transparent;
  margin: 10px;
  color: white;
  font-weight: 400;
  cursor: pointer;
  border: 0.14em solid white;
  overflow: hidden;
}
.custom_btn:hover {
  background-color: #77ADD6;
}
.custom_btn input[type='radio'] {
  display: none;
}
#search_button {
  border-radius: 0px;
  font-weight: 400;
  height: 45px;
  width: 160px;
  font-size: 25px;
  color: white;
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
#search_button:hover {
  background-color: #77ADD6;
  border: 1px solid transparent;
}
#spotify_logo {
  margin: 20px auto;
}
#spotify_logo div {
  color: white;
  margin: 0px;
}

/*************************/
/*************************/
/*************************/
/*************************/
/*---- Results ----*/
#searchResults {
  background: #E1E7ED;
  padding-top: 50px;
  padding-bottom: 10px; }

  #filter-icon {
    position: absolute;
    margin-top: 14px;
    color: #ADBECE;
    right: 70px; }

    #filterSong {
      width: 200px;
      border: 0px;
      box-shadow: none;
      font-weight: 300;
      padding-left: 10px;
      color: #77ADD6;
      height: 30px;
      font-size: 16px;
      border-radius: 0px;
      border-bottom: solid 1px #ADBECE;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 30px;
      background: transparent; }

      #filterSong:focus {
        border-bottom: 1px solid #77ADD6;
        -webkit-box-shadow: 0 6px 6px -6px #77ADD6;
        -moz-box-shadow: 0 6px 6px -6px #77ADD6;
        box-shadow: 0 6px 6px -6px #77ADD6; }

        input[type='text']#filterSong::-webkit-input-placeholder {
          color: #ADBECE;
          font-weight: 300; }

          input[type='text']#filterSong::-moz-placeholder {
            color: #ADBECE;
            font-weight: 300; }

            input[type='text']#filterSong:-ms-input-placeholder {
              color: #ADBECE;
              font-weight: 300; }

              input[type='text']#filterSong:-moz-placeholder {
                color: #ADBECE;
                font-weight: 300; }

                thead {
                  font-size: 14px;
                  text-transform: uppercase;
                  font-weight: 400; }

                  thead a {
                    text-decoration: none;
                    color: #77ADD6; }

                    thead a:hover {
                      text-decoration: none; }

                      thead a:focus {
                        text-decoration: none; }

                        tr:hover {
                          background-color: #E8EEF4; }

                          .img-logo {
                            float: left;
                            margin-right: 10px;
                            height: 25px;
                            width: 25px; }

                            .no-overflow {
                              overflow: hidden; }

                              .tooltip.left .tooltip-arrow {
                                border-left-color: #77ADD6; }

                                .tooltip-inner {
                                  color: white;
                                  background-color: #77ADD6;
                                  border-radius: 4px; }

                                  .album-cover {
                                    position: absolute;
                                    left: 63px;
                                    z-index: 20;
                                    width: 160px;
                                    height: 180px;
                                    background: rgba(0, 0, 0, 0.7);
                                    opacity: 0;
                                    border-radius: 10px;
                                    transition: opacity 0.4s ease-out; }

                                    .album-cover:hover {
                                      opacity: 0.9; }

                                      .album-card {
                                        margin-bottom: 40px;
                                        overflow: hidden; }

                                        .album-text {
                                          vertical-align: bottom;
                                          opacity: 1;
                                          z-index: 30;
                                          color: white;
                                          font-size: 15px;
                                          text-transform: uppercase;
                                          font-weight: 500; }
                                          .album-text div span:last-child span {
                                            display: none; }

                                            .album-name {
                                              margin-top: 10px;
                                              font-size: 15px;
                                              letter-spacing: 1px;
                                              height: 40px; }

                                              .vcenter {
                                                display: flex;
                                                align-items: center;
                                                /* Align the flex-items vertically */
                                                justify-content: center; }

                                                .artist-card {
                                                  margin-bottom: 2em;
                                                  padding-left: 1em; }
                                                  .artist-card img {
                                                    height: 250px; }

                                                    .artist-cover {
                                                      position: absolute;
                                                      left: 86px;
                                                      z-index: 20;
                                                      width: 250px;
                                                      height: 250px;
                                                      background: rgba(0, 0, 0, 0.7);
                                                      opacity: 0;
                                                      border-radius: 10px;
                                                      transition: opacity 0.4s ease-out;
                                                      padding: 20px; }

                                                      .artist-cover:hover {
                                                        opacity: 0.9; }

                                                        .artist-text {
                                                          vertical-align: bottom;
                                                          opacity: 1;
                                                          z-index: 30;
                                                          color: white;
                                                          font-size: 15px;
                                                          text-transform: uppercase;
                                                          font-weight: 500; }
                                                          .artist-text div span:last-child span {
                                                            display: none; }

                                                            .artist-text div:first-child {
                                                              font-weight: 700; }

                                                              .artist-name {
                                                                margin-top: 10px;
                                                                font-size: 15px;
                                                                letter-spacing: 1px;
                                                                height: 40px; }

                                                                .sort {
                                                                  margin-bottom: 1em;
                                                                  font-size: 15px;
                                                                  text-transform: uppercase;
                                                                  position: relative;
                                                                  top: -4em;
                                                                  padding-left: 150px;
                                                                  text-decoration: none; }

                                                                  .sort a {
                                                                    text-decoration: none; }

                                                                    .sort a:hover {
                                                                      text-decoration: none; }

                                                                      .sort > div {
                                                                        margin-left: 25px;
                                                                        float: left; }

                                                                        .smooth {
                                                                          margin-left: 5px; }
